# Configuración de Base de Datos
DB_USER=kavak_user
DB_PASSWORD=kavak_pass
DB_NAME=kavak_db
DB_PORT=5432

# Configuración de Aplicación Spring Boot
APP_PORT=8087
JAVA_VERSION=21

# Configuración de Hibernate
HIBERNATE_DDL_AUTO=update
HIBERNATE_SHOW_SQL=false

# Zona Horaria
TIMEZONE=America/Argentina/Buenos_Aires

